---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogType="article"
  articleDate={pubDate.toISOString()}
>
  <article>
    <header class="mb-8">
      <h2 class="text-2xl font-medium text-gray-800 mb-2">{title}</h2>
      <div class="text-sm text-gray-600">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <span class="italic ml-2">
              (Updated: <FormattedDate date={updatedDate} />)
            </span>
          )
        }
      </div>
    </header>
    <div class="prose">
      <slot />
    </div>
  </article>
</BaseLayout>
